.projectSection {
    margin-top: 10vh;
    padding: 10vh 0;
    opacity: 0;
    transition: 1000ms;
}

.projectSection {
    margin-top: 10vh;
    padding: 10vh 0;
    opacity: 0;
    transition: 2000ms;
}

.projectSectionDetailsSeparator {
    margin-top: 24px;
}

.projectColumns {
    display: flex;
    height: min-content;
}

.column {
    flex: 1;
}

.showProjectSection {
    opacity: 1;
}

.imageSection {
   position: relative;
   height: 100%;
   width: 100%;
}

.projectImages {
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    text-align: center;
}

.projectImage {
    max-height: 100%;
    max-width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.projectLinkContainer {
    text-decoration: none;
}

.projectTitle {
    font-size: 2.5em;
    color: var(--primary-color);
}

.projectLink {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.5em;
    color: var(--primary-text-color);
}

.projectDescr {
    margin-top: 10px;
}

.participationType {
    /* margin-left: 10px; */
}

.projectChipsContainer {
    margin-top: 25px;
}

.detailsSelector {
    /* display: none; */
    /* margin-bottom: 2px;
    border-bottom: var(--primary-color) 1px solid; */
}

.detailsSelectorButtonContainer {
    display: inline-block;
    font-size: 1em;
    padding: 3px 8px 0;
    border-radius: 0px;
}

.listButton {
    border-top-left-radius: 5px;
}

.imageButton {
    border-top-right-radius: 5px;
}

.detailsSelectorButtonContainerSelected {
    background-color: var(--primary-color);
    cursor: auto;
}

.detailsSelectorButtonContainerNotSelected {
    background-color: var(--icon-button-bg);
    cursor: pointer;
}

.detailsSelectorButtonContainerNotSelected:hover {
    background-color: var(--icon-button-hover-bg);
}

.narrowProjectImages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

.narrowProjectRelative {
    height: 100%;
    width: 100%;
    position: relative;
}

.narrowDetails {
    display: none;
}

.narrowTextSection {
    position: relative;
    padding-top: 2px;
    border-top: 2px var(--primary-color) solid;
    border-top-right-radius: 10px;
}

/* .narrowProjectImages {
    height: 100%;
    width: 100%;
    padding: 2px;
} */

.hideNarrowText {
    visibility: hidden;
}

@media (max-width: 699px) {
    .projectColumns {
        display: none;
    }

    .narrowDetails {
        display: block;
    }

    .projectSection {
        padding: 30vh 0;
    }

    .projectSection:first-of-type {
        padding-top: 0vh;
    }
}