@keyFrames fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pageHeaderSection {
    /* with border */
    /* padding: 10vh 80px 10vh ;
    margin: 20vh 0;
    border: 2px solid var(--primary-text-color); */

    padding-bottom: 5vh;
    margin: 30vh 0 35vh;
    /* border-bottom: 2px solid var(--primary-text-color); */
    /* margin: 30vh 0 40vh; */
    opacity: 0;
    transition: 1s;
}


.shortHeaderSection {
    margin: 10vh 0 2vh;
    padding-bottom: 3vh;
    border: none;
}

.showHeader {
    opacity: 1;
}

.pageHeader {
    font-size: 2em;
}