@keyFrames fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pageHeaderSection {
    /* animation: fadeIn 1s;
    animation-fill-mode: forwards; */
    margin: 30vh 0 50vh 0;
    opacity: 0;
    transition: 1s;
}

.showHeader {
    opacity: 1;
}

.pageHeader {
    font-size: 2em;
}