.aboutContent {
    width: 70%;
    margin: auto;
    padding-top: 100px;
}

.nameDescriptionContainer {
    width: 50%;
}

@keyFrames nameFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.name {
    opacity: 0;
    font-size: 5em;
    line-height: 1em;
    animation-name: nameFadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.nameColor {
    color: var(--primary-color);
}

@keyFrames expandNameDescriptionDivider {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.nameDescriptionDivider {
    width: 0;
    height: 5px;
    background-color: var(--primary-color);
    margin: 15px 0;

    animation-name: expandNameDescriptionDivider;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.descriptionContainer {
    padding: 20px 30px;
    background-color: rgb(31, 31, 31);
}

@keyFrames descriptionSlideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.description {
    font-family:'Courier New', Courier, monospace;
    opacity: 0;
    animation-name: descriptionSlideIn;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.descriptionIndented {
    padding-left: 20px;
}