@import url("../../constants.css");
.card {
    padding: 20px;
    max-width: 100%;
    border-radius: 15px;
    background: rgb(31,31,31);
}

.cardHeader {
    font-size: 2em;
    color: var(--card-text-color);
}

.cardSubheader {
    font-weight: 500;
}

.expandable {
    cursor: pointer;
}

.workExperiencesCard {
    /* width: 400px; */
}

.workExperiencesContent {
    margin: 10px 25px;
}