@import url("../../constants.css");

@keyFrames fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    padding: 20px;
    max-width: 100%;
    border-radius: 10px;
    background: rgb(31,31,31);
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

/* .workExperiencesCard:nth-of-type(2) {
    animation-delay: 1000ms;
} */

.cardHeader {
    font-size: 1.25em;
    color: var(--card-text-color);
}

.cardSubheader {
    font-weight: 500;
}

.expandable {
    cursor: pointer;
    transition: 500ms;
}

.expandable:hover {
    background: rgb(46, 46, 46);
}

.expandableContent {
    overflow: hidden;
    max-height: 0;
    transition: 1s;
}

.showExpandableContent {
    max-height: 500px;
}

.workExperiencesCard {
    /* width: 400px; */
}

.workExperiencesContent {
    margin: 10px 25px 20px 25px;
}

.cardDivider {
    width: 100%;
    height: 3px;
    margin: 25px 0;
    background-color: var(--primary-text-color);
    background-color: var(--card-text-color);
}

.cardPrimaryText {
    color: var(--card-text-color);
}