.headerBar {
    width: 100%;
    text-align: center;
    border-bottom: solid 1px black;
}

.menuBar {
    display: inline-block;
}

.menuItem {
    margin: 20px;
    display: inline-block;
}

.menuItem:hover {
    cursor: pointer;
}