.headerBar {
    width: 100%;
    text-align: center;
    background-color: black;
}

.menuBar {
    display: inline-block;
}

.menuItem {
    margin: 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    cursor: pointer;
}

.menuItemText {
    margin: 5px;
}