.galleryContainer {
    /* text-align: center; */
    width: 100%;
    height: 50vh;
    overflow-x: auto;
    overflow-y:hidden;

    /* box-shadow: 0 0 5px 10px #555; */
}

.gallery {
    /* display: inline-block; */
    width: fit-content;
    white-space: nowrap;
    height: 100%;
}

.galleryImage {
    /* height: 400px; */
    display: inline;
    height: 100%;
    padding: 0 20px;
    transition: 1000ms;
}

.galleryImage > img {
    height: 100%;
}

.hideGalleryImage {
    opacity: 0;
}