:root {
    --primary-text-color: white;
    /* --primary-background-menu-color: black; */
    --primary-background-color: rgb(0, 0, 0);
    --menu-bar-height: 65px;
    --primary-color: rgb(102, 155, 245);
    --card-text-color: rgb(102, 155, 245);
    /* --primary-color: rgb(102, 155, 245);
    --card-text-color: rgb(102, 155, 245); */
    --icon-button-bg: rgb(67, 67, 67);
    --icon-button-hover-bg: rgb(94, 94, 94);
    
    /* --primary-color: rgb(13, 93, 191); */
    /* --card-text-color: rgb(117, 193, 255); */
}