:root {
    --primary-text-color: white;
    /* --primary-background-menu-color: black; */
    --primary-background-color: rgb(0, 0, 0);
    --menu-bar-height: 65px;
    --primary-color: rgb(0, 94, 255);
    --card-text-color: rgb(51, 163, 255);
}